<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Giftlips</title>

    <style>
      .login:hover { background-position: right center; color: #fff; transition:
      all 250ms; }
    </style>
  </head>

  <body>
    <div
      style="max-width: 600px; margin: 0 auto; padding: 1rem; font-family:
      'Montserrat', sans-serif; background-color: rgba(231, 66, 58, 0.1); color:
      rgba(0, 0, 0, 0.75);"
    >
      <div style="margin: 0 0 1rem 0; text-align: center;">
        <img
          src="https://www.giftlips.com/logo.png"
          alt="Giftlips"
          style="height: 4rem;"
        />
      </div>

      <div
        style="padding: 3rem 1rem; background-color: #fff; border-radius:
      0.25rem; text-align: center;"
      >
        <img
          src="http://cms.giftlips.com/wp-content/uploads/2022/11/collab.png"
          alt=""
          style="max-height: 16rem; max-width: 100%;"
        />

        <h2 style="color: #e7423a; margin: 2rem 0 0 0;">Hello there,</h2>
        <p>
          Your payment is successfull
          {{inviterFirstName}}
        </p>
        <table style="width:100%">
  <tr>
    <th style="text-align: center;" colspan="2" >Order Details</th>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{ordername}}</td>
  </tr>
  <tr>
    <td>Address</td>
    <td>{{orderaddress}}</td>
  </tr>
  <tr>
    <td>City</td>
   <td>{{ordercity}}</td>
  </tr>
  <tr>
    <td>Postal</td>
   <td>{{orderzip}}</td>
  </tr>
  <tr>
    <td>Total Price</td>
   <td>{{orderprice}}</td>
  </tr>
</table>
      </div>

      <div
        style="margin: 1rem 0 0 0; padding: 1rem; background-color: rgba(255,
      255, 255, 0.5); border-radius: 0.25rem; text-align: center;"
      >
        <div style="margin: 1rem 0">
          <a
            href="#"
            title="Facebook"
            target="_blank"
            style="text-decoration: none"
          >
            <img
              src="https://cdn.tools.unlayer.com/social/icons/circle/facebook.png"
              alt="Facebook"
              title="Facebook"
              width="32"
              height="32"
            />
          </a>
          <a
            href="#"
            title="Instagram"
            target="_blank"
            style="text-decoration: none"
          >
            <img
              src="https://cdn.tools.unlayer.com/social/icons/circle/instagram.png"
              alt="Instagram"
              title="Instagram"
              width="32"
              height="32"
            />
          </a>
          <a
            href="#"
            title="LinkedIn"
            target="_blank"
            style="text-decoration: none"
          >
            <img
              src="https://cdn.tools.unlayer.com/social/icons/circle/linkedin.png"
              alt="LinkedIn"
              title="LinkedIn"
              width="32"
              height="32"
            />
          </a>
          <a
            href="#"
            title="YouTube"
            target="_blank"
            style="text-decoration: none"
          >
            <img
              src="https://cdn.tools.unlayer.com/social/icons/circle/youtube.png"
              alt="YouTube"
              title="YouTube"
              width="32"
              height="32"
            />
          </a>
          <a
            href="#"
            title="Twitter"
            target="_blank"
            style="text-decoration: none"
          >
            <img
              src="https://cdn.tools.unlayer.com/social/icons/circle/twitter.png"
              alt="Twitter"
              title="Twitter"
              width="32"
              height="32"
            />
          </a>
          <a
            href="#"
            title="Pinterest"
            target="_blank"
            style="text-decoration: none"
          >
            <img
              src="https://cdn.tools.unlayer.com/social/icons/circle/pinterest.png"
              alt="Pinterest"
              title="Pinterest"
              width="32"
              height="32"
            />
          </a>
        </div>

        <p>
          You provided
          <a href="https://www.giftlips.com" target="_blank">Giftlips</a>
          your email address. Occasionally, you will receive brief announcements
          on our special items and services. If you wish to unsubscribe, you may
          do so by clicking
          <a href="#" target="_blank">unsubscribe</a>.
        </p>

        <hr />

        <p>Copyright © 2022 <b>Giftlips PTE. LTD</b>, All rights reserved.</p>
      </div>
    </div>
  </body>
</html>