<div id="anag-cover" class="container container-height page-spacer" style="position: relative;">
    <%- include ('../partials/header-center.ejs') %>
    <div class="row">
        <div class="col-12">
            <div class="px-5 py-3">
                <div class="row">
                    <div class="col-12 py-4">
                        <div class="d-block" style="float: right;">
                            Spett.le <br>
                            SHELTIA SRL  <br>
                            Via Ennio Quirino Visconti, 103  <br>
                            00193  <br>
                            ROMA (RM)
                        </div>
                    </div>
                </div>
                <div class="row font-small">
                    <div class="col-12 py-2">
                    <p>
                        <strong>OGGETTO: AUTOCERTIFICAZIONE per l’accertamento dei requisiti previsti dall’art.23 del Regolamento IVASS n. 40/2018 per l’iscrizione della Società alla sezione E del Registro Unico degli Intermediari Assicurativi (RUI) di cui all’art. 109 del d.lgs. n. 209/2005 (Codice delle Assicurazioni Private)</strong>
                    </p>
                        <p>
                            Ai sensi dell’articolo 47 del D.P.R. 28 dicembre 2000, n. 445, la
                            sottoscritta Società <strong><%= onFiscalVatCompanyName.typeValue %> </strong> in
                            persona del Legale Rappresentante, Sig. <strong><%= oFiscalVatCompanyRep.typeValue %> </strong> , Cod. Fisc. <strong><%= onFiscalVatCompanyCg.typeValue  %> </strong> , consapevole delle
                            sanzioni penali previste dall’articolo 76 dallo stesso D.P.R. n. 445/2000
                            per le ipotesi di falsità in atti e di dichiarazioni mendaci, nonché
                            consapevole delle disposizioni contenute nell’articolo 75 del citato D.P.R.
                            circa la decadenza dall’iscrizione nel registro degli intermediari in caso
                            di dichiarazioni non veritiere, dichiara di:
                        </p>
                        <ol>
                            <li>
                                avere la sede legale in Italia;
                            </li>
                            <li>
                                non essere assoggettata a procedure di fallimento, concordato
                                preventivo, amministrazione straordinaria o liquidazione coatta
                                amministrativa;
                            </li>
                            <li>
                                non essere sottoposta ai divieti e decadenze previste dall’articolo 10,
                                comma 4, della Legge 31.5.1965, n. 575 e successive modificazioni;
                            </li>
                            <li>
                                i Legali Rappresentanti e i Soci non sono sottoposti ai divieti e
                                decadenze previste dall’articolo 10, comma 4, della Legge 31.5.1965, n.
                                575 e successive modificazioni;
                            </li>
                            <li>
                                non essere Ente Pubblico né Ente o Società controllata da Ente
                                Pubblico;
                            </li>
                            <li>
                                lo Statuto sociale prevede nell’ambito dell’oggetto sociale l’attività
                                di distribuzione assicurativa;
                            </li>
                            <li>
                                non operare, direttamente o indirettamente, attraverso altra Societ
                            </li>
                            <li>
                                aver affidato la responsabilità dell’attività di distribuzione ad
                                almeno una persona fisica iscritta nella sezione E;
                            </li>
                            <li>
                                preporre all’attività di distribuzione al di fuori dei locali della
                                Società esclusivamente addetti iscritti nella Sezione E del RUI;
                            </li>
                            <li>
                                non avere stretti legami<sup>1</sup> con persone fisiche o giuridiche
                                che impediscano l’esercizio dei poteri di vigilanza da parte dell’IVASS
                                secondo quanto previsto dall’articolo 109, comma 4-sexies del Codice
                                delle Assicurazioni Private.
                            </li>
                        </ol>
                    <div class="col-12 py-4 row">
                        <div class="col-4">
                            Data e luogo  <br><br>
                            <div class="border-bottom-field"> <%= luogoData %> &nbsp; </div>
                        </div>
                        <div class="col-4">
                        </div>
                        <div class="col-4">
                            Firma <br><br>

                            <div class="border-bottom-field">&nbsp;</div>
                        </div>
                    </div>


                     </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mini-font footer border-footer pt-2">
        <p>
            1 Definizione art. 1 Codice delle Assicurazioni Private:
        </p>
        <ol>
            <li>
                stretti legami: il rapporto fra due o più persone fisiche o giuridiche
                nei casi in cui sussiste:
            </li>
            <ul>
                <li>
                    un legame di controllo ai sensi dell'articolo 72;
                </li>
                <li>
                    una partecipazione, detenuta direttamente o per il tramite di
                    società controllate, società fiduciarie o per interposta persona,
                    almeno pari al dieci per cento del capitale o dei diritti di voto,
                    ovvero una partecipazione che, pur restando al di sotto del limite
                    sopra indicato, dà comunque la possibilità di esercitare
                    un'influenza notevole ancorché non dominante;
                </li>
                <li>
                    un legame in base al quale le stesse persone sono sottoposte al
                    controllo del medesimo soggetto, o comunque sono sottoposte a
                    direzione unitaria in virtù di un contratto o di una clausola
                    statutaria, oppure quando gli organi di amministrazione sono
                    composti in maggioranza dalle medesime persone, oppure quando
                    esistono legami importanti e durevoli di riassicurazione;
                </li>
                <li>
                    un rapporto di carattere tecnico, organizzativo, finanziario,
                    giuridico e familiare che possa influire in misura rilevante sulla
                    gestione dell'impresa.
                </li>
            </ul>
        </ol>
    </div>
    <div style="page-break-after:always;"></div>
</div>

